/* this is modal style */
.wrapper {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  min-height: 100vh;

  font-family: "Lato", sans-serif;
}

.modal-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  font-family: "Lato", sans-serif;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  visibility: hidden;
  opacity: 0;
  transition: all 0.35s ease-in;

  background-color: rgba(0, 0, 0, 0.7);
}

.card {
  background-color: #f9f9f9;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);

  width: 65rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
}

.card-avatar {
  background-color: #5bc6ac;
  width: 35%;
  border-radius: 1rem 0 0 1rem;
}

.card-avatar__box {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card-avatar__img {
  width: 70%;
}

.card-info {
  height: 100%;
  width: 65%;

  color: #484946;
  padding: 1.5rem;
}

.card-info__box {
  margin-bottom: 2.5rem;
}

.card-info__id {
  margin-top: 1rem;
  text-align: center;
}
.card-info__id-name {
  display: block;
  margin-bottom: -1.2rem;

  font-size: 2.2rem;
}

.card-info__id-batch {
  font-size: 1.5rem;
  color: #f9f9f9;

  display: inline-block;
  background-color: #484946;
  padding: 0 .5rem 0 .5rem;
  border-radius: .5rem;
}

.card-info-control {
  width: 100%;
  margin-bottom: 1.5rem;
}

.card-info__details {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-info__detail {
  width: 50%;
  margin-right: 1rem;
}
.card-info__detail-label {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: .8rem;
}

.card-info__detail-data {
  border-bottom: .2rem solid #5bc6ac;
  width: 100%;
  font-size: 1.45rem;
}

.card-info__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem 0 1rem 0;
}

.card-info__social:not(:last-child) {
  display: block;
  margin-right: 1rem;
  height: 3rem;
  width: 3rem;
}

.links {
  color: #484946;
  cursor: pointer;
  text-decoration: none;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;

  font-size: 2.5rem;
  transition: all 0.1s;
}

.links:hover {
  font-size: 3rem;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.invisible {
  visibility: hidden;
  opacity: 0;
}